@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gowun";
  src: url("./fonts/GowunDodum-Regular.ttf");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "gowun";
  font-size: 2rem;
}

a {
  /* color: #41307c; */
  text-decoration: none;
}

.App.a0 {
  --my--thema: rgb(209, 241, 156);
}

.App.a1 {
  --my--thema: rgb(247, 157, 156);
}

.App.a2 {
  --my--thema: rgb(231, 187, 252);
}

.App.a3 {
  --my--thema: rgb(211, 113, 211);
}

.App.a4 {
  --my--thema: rgb(249, 197, 138);
}

.App.a5 {
  --my--thema: rgb(250, 214, 55);
}

.App.a6 {
  --my--thema: rgb(253, 238, 177);
}

.App.a7 {
  --my--thema: rgb(191, 218, 253);
}

.App.a8 {
  --my--thema: rgb(168, 255, 255);
}

.App.a9 {
  --my--thema: rgb(65, 160, 224);
}

.App.dark {
  --my--background: rgba(30, 41, 59, 1);
  --my--text: rgba(249, 250, 251, 1);
  --my--heading: var(--my--thema);
  --my--shadow: rgba(255, 255, 255, 0.3);

  --my--slug--blockquote: #1e1e1e;
}
.App.light {
  --my--background: #fff;
  --my--text: rgba(31, 41, 55, 1);
  --my--heading: #41307c;
  --my--shadow: rgba(2, 1, 1, 0.1);

  --my--slug--blockquote: #f8f9fa;
}

.App {
  background: var(--my--background);
  color: var(--my--text);
}

/* .App * {
  transition: all 0.3s fade-in;
} */

.my_hover_line {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

.my_hover_line:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--my--heading);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.my_hover_line.selected:after {
  left: 5%;
  width: 90%;
}

.my_hover_line:hover:after {
  width: 90%;
  left: 5%;
}

.my_line {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  box-shadow: 1px 2px 0px var(--my--shadow);
}

.my_line.my_bot {
  bottom: 1px;
}

.my_line.my_top {
  top: 1px;
}

.selected {
  color: var(--my--heading);
}

.my_icon a:hover {
  color: var(--my--heading);
}

.my_blog_slug {
  font-size: 16px;
  margin: 60px auto 0 auto;

  color: var(--my--text);

  display: flex;
  flex-wrap: wrap;
  max-width: 80ch;
}

.my_blog_slug blockquote {
  width: 100%;
  border-left: 4px solid var(--my--heading);
  background-color: var(--my--slug--blockquote);
  color: var(--my--text);
  padding-left: 2rem;
  padding-right: 2rem;
}

.my_blog_slug a,
.my_blog_slug strong {
  color: var(--my--heading);
}

.my_blog_slug h1,
.my_blog_slug h2,
.my_blog_slug h3,
.my_blog_slug h4,
.my_blog_slug h5,
.my_blog_slug ul {
  width: 100%;
  color: var(--my--text);
}

.my_blog_slug pre {
  width: 100%;
  border: 1px solid var(--my--shadow);
}

.my_blog_slug li code {
  color: var(--my--text);
}
